header {
    text-align: center;
    padding: 20px;
}
body {
    background-image: url(/image/backgroundinicio.webp);
    background-size: cover;
.formulario {
    width: 100%;
    margin-right: 0 auto;
}
.botoninicio {
    width: 100%;
    margin-left: auto;
}
}
